body {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



img {
    height: 240px;
    border-radius: 10px;
    margin: 10px;

}