<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/tshirt"><i class="fa fa-angle-double-right"></i>T-Shirt</a></li>
                    <li><a href="/belt"><i class="fa fa-angle-double-right"></i>Belt</a></li>
                    <li><a href="/shoes"><i class="fa fa-angle-double-right"></i>Shoes</a></li>
                    <li><a href="/wallet"><i class="fa fa-angle-double-right"></i>Wallet</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Social</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.linkedin.com/in/vkparamesh3232">Linked In</a></li>
                    <li><a href="https://github.com/Vkparamesh">Git Hub</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>About Team</h5>
                <ul class="list-unstyled quick-links">
                    <li>Team ID : PNT2022TMID38912</li>
                    <li>Team Leader : PARAMESHWARAN V K</li>
                    <li>Team member : MANOJ ADHITHYAN A</li>
                    <li>Team member : MOHANRAJ M</li>
                    <li>Team member : DAYANITHI S</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6"> krishnasamy college of engineering and technology &copy All
                    right Reversed.</p>
            </div>
        </div>
    </div>
</section>
<script>
    window.watsonAssistantChatOptions = {
        integrationID: "0319627f-d899-46cf-900d-e7d547432eff", // The ID of this integration.
        region: "eu-gb", // The region your integration is hosted in.
        serviceInstanceID: "2187bdc6-3463-4336-a0e5-105ac4d979db", // The ID of your service instance.
        onLoad: function (instance) { instance.render(); }
    };
    setTimeout(function () {
        const t = document.createElement('script');
        t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
    });
</script>
<!-- ./Footer -->